<table class="table" *ngIf="data.length > 0">
    <thead>
        <tr>
        <th>Name</th>
        <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let incomeEntry of data">
            <td>{{ incomeEntry.name }}</td>
            <td>{{ incomeEntry.amount | currency }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th>{{ getTotal() | currency }}</th>
        </tr>
    </tfoot>
</table>
<p *ngIf="data.length == 0">
    <i>No entries found</i>
</p>
