<nav class="navbar navbar-light bg-light">
  <div class="container container-fluid">
    <span class="navbar-brand mb-0 h1">Budget manager</span>
  </div>
</nav>

<div class="container">
  <div *ngIf="data != null">
  
    <div class="row">

      <div class="col">
        <h2>Monthly Income <a class="bi-pencil-fill icon-button" href="#" (click)="openIncomeEditor()"></a></h2>
        <app-budgetentrytable [data]="data.income"></app-budgetentrytable>
      </div>

      <div class="col">
        <h2>Monthly Expenses <a class="bi-pencil-fill icon-button" href="#"></a></h2>
        <app-budgetentrytable [data]="data.expenses"></app-budgetentrytable>
      </div>

    </div>
    
    <h2>Monthly Surplus/Deficit: {{ getSurplus() }}</h2>
    
    <h2>Account balance</h2>
  
    <p>Current balance: {{ data.balance }}</p>
    <p>Emergency buffer: {{ data.emergencyBuffer }}</p>
    <p>Leftover balance: {{ data.balance - data.emergencyBuffer }}</p>
  
  </div>
  
  <div *ngElse>
    Loading...
  </div>
</div>

<app-modalcontainer></app-modalcontainer>
